<h1><%= @user.full_name %>'s Portfolio</h1>

<% if @currency_conversions && !@currency_conversions.empty? %>
    <%= render "currency_conversions/table" %>
<% else %>
    <p><%= @user.full_name %>'s Portfolio is currently empty.</p>
<% end %>